@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
/* * {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div,
div[data-reactroot] {
  height: 100%;
  padding: 0;
  margin: 0;
}
 */

html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #8fd8d2;
}

p {
  font-family: 'Nunito', sans-serif;
}

