.PetRow {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    background: rgba(34, 34, 34, 0.1);
    padding: 10px;
  }
  
  .PetRow > div:first-child {
    border: #5eb4c4e8 solid 4px;
    border-radius: 10px;
    width: 50%;
    
  }

  .PetRow img {
    border-radius: 10px;
    margin-left: 15px;
  }
  .petImage {
    padding: 40%;
  }

  .petImgDiv {
    border-radius: 6px;
    margin-left: 15px;
    align-items: left;
  }
  
  .PetRow > div {
    height: 278px;
  }
  
  .PetRow > div:last-child {
    width: 100%;
    position: relative;
  }
  
  .PetRow p {
    padding: 0 5px;
    margin-left: 15px;
  }
  
  .PetRow div * {
    color: #222;
    margin-left: 15px;
  }
  
  .PetRow input {
    border-color: #000000;
    padding: 5px 15px;
  }
  
  .PetRow div > div {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .heart {
    background-color: #d84444e8;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 15px;
  }
  
  .toggled.heart,
  .toggled.heart:before,
  .toggled.heart:after {
    background-color: #5eb4c4e8;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: #5eb4c4e8;
    border-radius: 50%;
    height: 15px;
    position: absolute;
    width: 15px;
  }
  
  .heart:before {
    top: -10px;
    left: 0;
  }
  
  .heart:after {
    left: 10px;
    top: 0;
  }
  