@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');




/* h1 {
    text-align: center;
    text font: arial;
} */




.header {
    height: 95vh;
    /* background-image: linear-gradient(
        to right bottom, #7ed56fad, #28b485c5), */
         /* url(../img/hero.jpg); */
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)
    

}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 35px;
}

/* .logo:hover {
    animation: moveInRight 1s ease-out;
} */

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.heading-primary {
    color:black;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 65px;
    font-weight: 1000;
    letter-spacing: 30px;
     

    animation-name: moveInLeft;
    animation-duration: 1s; 
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 10px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
    opacity: 0;
    transform: translateX(-100px);
    }

80%{
    transform: translate(10px);


}



100% {
    opacity: 1;
    transform: translate(0);

}

}


@keyframes moveInRight {
    0% {
    opacity: 0;
    transform: translateX(100px);
    }

80%{
    transform: translate(-10px);


}

100% {
    opacity: 1;
    transform: translate(0);

}

}

.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: white;
    color:black;
}

.btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.btn-white::after {
background-color: 
}

.btn:hover::after {

}


.container {
    padding: 50px;
    /* background-color: #eae9e9; */
  color:black;
  font-family: 'Nunito', sans-serif;
  
  font-size: 15px;
  /* font-weight: 1000;
  letter-spacing: 20px; */

}