.footer-main {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height:155px; */
    background-color: #eae9e9;
    color: black;
    text-align: center;
  }

  .font-brand {
      color:black;
  }

  .footer-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

li {
  list-style: none;
}
  .footer-items li {
    padding: 0 0.5rem;
  }

  .footer-items a {
    color: black;
    font-family: 'Nunito', sans-serif;
}

/* footer {
  display: block; 
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color:#ECECEC;
} */
