@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;

    /* nicole added CSS */
    background-color: rgba(255, 255, 255, 0.432);
    background-blend-mode: lighten;   
    
    
  }
  
  .hero::after {
    content: "";
    display: block;
    opacity: .10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8fd8d2;
  }
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero h1, .hero h2 {
    color:#DF744A;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 65px;
    font-weight: 1000;
    letter-spacing: 20px;

  
    
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  }
  
/* media queries  */
@media (max-width: 768px) {
  .hero {
      width: 100%;
  }
}

